
html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-size:16px;
}

.wallet-icon {
  margin-left: 7%;
}
.wallet-address {
  margin-top: 2%;
  font-size: 22px;
}
#farm-modal-action {
  padding: 0;
  border: none;
  font-family: Poppins-strong;
  font-size: 14px;
  font-weight: 700;
  background: #00E8E7 !important;
  border-radius: 16px;
  margin:0 auto;
  display:block;
  padding: 0;
  border: none;
  background: none;
  width: 40%;
  height: 40px;
  margin-top: 10px;
}

.farm-modal-available {
  color: #6F767E;
  font-family: Poppins;
  font-size: 14px;
  float: right;
}

#farm-modal-action:hover {
  filter: brightness(80%) !important;
}

.price-mobile {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.wallet {
  display: flex;
  font-size: 24px !important;
}
.wallet-dropdown {
  border-radius: 10px !important;
  background-color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.wallet-dropdown-el {
  cursor: pointer;
}

.footer-rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, white 33%, #00E8E7 33%); 
}

.copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00E8E7;
}

#footer {
  margin-top: 5%;
  position: relative;
  font-family: Hurme;
  width: 100%;
  height: 30%;
}

#footer img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

#footer a:hover {
  filter: brightness(80%) !important;
}

#footer a {
  cursor: pointer;
}

.navbar-right img {
  width: 25px;
}
.navbar-price {
  color: black;
  pointer-events: none;
  cursor: default;
}

.roadmap-description {
  display: none;
  position: absolute;
  right: 30%;
  top: 20%;
  width: 40%;
  height: auto;
  background-color: #00E8E7;
  border-radius: 25px;
  z-index: 0;
  margin: 0;
  color:  black;
  font-size: 26px;
}

.roadmap-description-1 {
  margin-top: 20%;
}

#fifthblock img {
  width: 40%;
}

#fifthblock .team-name {
  font-family: Hurme;
  font-size: 24px;
  font-weight: 700;
}

#fifthblock img {
  border-radius: 25px;
}

#fifthblock .team-role {
  font-family: Hurme;
  font-size: 16px;
  font-weight: 0;
  color: gray;
}

.navbar {
  font-family: Hurme !important;
}

.navbar-nav {
  margin-top: 25px;
}

@media (min-width: 320px) {  
  h1 {font-size:1.3rem; } 
  p { font-size: 14px; }
  #settings {
    width: 300px;
  }
  #tokens {
    width: 300px;
    margin-top: 10%;
  }
  #farm-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  #farms-cards button {
    font-weight: 900;
  }
  .nav {
    font-size: 16px;
  }

  .navbar-collapse {
    background-color: white;
  }

  .statscontainer {
    position: relative;
    margin: 0;
    font-size: 0; // super important if u want to remove spacing between "inline-block" elements
  }

  .shoe-mobile {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    width: 80%;
    height: 100%;
  }

  .cut {
    position: absolute;
    width: 100%;
    height: 18vh;
    background: white;
  }
  .triangle {
    width: 100%;
    height: 50vh;
    background: linear-gradient(135deg, white 49.9%, #00E8E7 50.1%);
  }

  .distance-mobile {
    position: absolute !important;
    bottom: 0% !important;
  }

  .shoe {
    position: absolute !important;
    max-width: 80% !important;
    height: 65%;
    z-index: 2;
    left: 10% !important;
    top: -8% !important;
  }

  .stats-row {
    padding: 0;
    margin-top: 0;
    display: inline-block;
    width: 80% !important;
    height: 10vh;
    background: #00E8E7;
  }

  .stats-spacing {
    margin: 0;
    display: inline-block;
    width: 80%;
    height: 2vh;
    background: white;
    top: 10vh;
  }

  .stat-container {
    position: absolute;
    display: inline-block;
    width: 65%;
    left: 17%;
  }

  .distance {
    top: 84%;
    width: 80%;
  }

  .carbon {
    bottom: 57%;
    width: 80%;
  }

  .calories {
    bottom: 31%;
    width: 80%;
  }

  .twitter {
    bottom: 4%;
    width: 80%;
  }

  .statvalue {
    margin-top: 2%;
    font-size: 24px;
    color: white;
    margin-right: 5%;
  }

  .stat {
    margin-top: 4%;
    font-size: 12px;
  }

  #secondblock {
    font-family: Hurme;
    margin-top: 10%;
    margin-bottom: 30%;
    text-align: center;
    height: 80vh;
    position: relative;
    color: black;
  }
  /*320*/
  .urban {
    content: url("images/urban-mobile.png");
    background: #999999;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 1%, 100% 19%, 100% 100%, 0 80%);
    clip-path: polygon(0 1%, 100% 19%, 100% 100%, 0 80%);
  }

  .urban-content {
    top: 17%;
    position: relative;
  }

  .map {
    z-index: 0;
    margin-right: 10%;
    margin-left: 10%;
  }

  .footer-icon {
    position: absolute;
    display: block;
    width: 10%;
    bottom: 70%;
  }

  .twitter-container {
    left: 30%;
  }

  .discord-container {
    left: 40%;
  }

  .telegram-container {
    left: 50%;
  }
  .medium-container {
    left: 60%;
  }
  .roadmap-description {
    display: none;
    position: absolute;
    left: 15%;
    top: 20%;
    width: 50%;
    height: auto;
    background-color: #00E8E7;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    z-index: 0;
    margin: 10%;
    color:  black;
    font-size: 24px;
  }

  .roadmap-description-1 {
    margin-top: 20%;
  }
}

@media (min-width: 544px) {  
  h1 {font-size:1.5rem;} 
  p { font-size: 12px; }
  .navbar-collapse {
    background-color: #37E4E5;
  }
  #settings {
    width: 451px;
  }
  #tokens {
    width: 450px;
  }
  #farm-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .stats-row {
    margin: 0;
    display: inline-block;
    width: 80%;
    height: 10vh;
    background: #00E8E7;
  }
  .stats-spacing {
    margin: 0;
    display: inline-block;
    width: 80%;
    height: 2vh;
    background: white;
    top: 10vh;
  }

  .stat-container {
    position: absolute !important;
    display: inline-block !important;
    width: 40%;
    left: 40%;
  }

  .distance {
    top: 5%;
    width: 67% !important;
    float: right;
    margin-right: 10%;
  }

  .carbon {
    bottom: 57%;
    width: 65% !important;
    float: right;
    margin-right: 10%;
  }

  .calories {
    bottom: 31%;
    width: 68% !important;
    float: right;
    margin-right: 10%;
  }

  .twitter {
    bottom: 4%;
    width: 70%;
  }

  .statvalue {
    font-size: 24px;
    float: left;
    color: white;
    margin-right: 5%;
  }
  .stat {
    float: right;
    font-size: 16px;
  }

  .shoe {
    position: absolute !important;
    height: 120% !important;
    z-index: 2;
    left: 6% !important;
    top: -8% !important;
  }

  #secondblock {
    font-family: Hurme;
    margin-top: 10%;
    margin-bottom: 20%;
    text-align: center;
    height: 130vh;
    position: relative;
  }

  .urban {
    content: url("images/urban.png");
    background: #999999;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 1%, 100% 19%, 100% 100%, 0 80%);
    clip-path: polygon(0 1%, 100% 19%, 100% 100%, 0 80%);
  }

  .urban-content {
    top: 13%;
    position: relative;
  }

  .map {
    width: 60% !important;
  }

  .footer-icon {
    position: absolute;
    display: block;
    width: 3%;
    bottom: 70%;
  }

  .twitter-container {
    left: 43%;
  }

  .discord-container {
    left: 47%;
  }

  .telegram-container {
    left: 51%;
  }
  .medium-container {
    left: 55%;
  }
}
 
@media (min-width: 768px) {  
  h1 {font-size:2rem;} 
  p { font-size: 14px; }
  .stat {font-size: 14px !important;}
  .statvalue {font-size: 28px !important;}
  .map {
    width: 50% !important;
  }
}
 
@media (min-width: 992px) { 
  h1 {font-size:2.5rem;}
  p { font-size: 16px; }
  .stat {font-size: 18px !important;}
  .statvalue {font-size: 36px !important;}
}
 
@media (min-width: 1200px) {  
  h1 {font-size:3rem;}     
  p { font-size: 18px; }
  .stat {font-size: 22px !important;}
  .statvalue {font-size: 48px !important;}
}


#add-card {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  font-family: Poppins;
  width: 30%;
  min-width: 328px;
  max-width: 450px;
  height: 300px;
  z-index: 0;
  background: #FCFCFC;

  /* shadow */
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
}

.add-card-balance {
  margin-left: 2%;
}

.add-card-button {
  display: inline-flex;
  padding: 0;
  border: none;
  background: none;
}

.add-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  padding: 2%;
}

.add-card-input {
  text-align:right;
  margin-left: 2%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #00E8E7;
  color: black;
  height: 30px;
  max-width: 50%;
}
    
.add-card-input:focus {
  outline: none;
  border: 1px solid #a0d18c;
  color: #2d9fd9;
}

.add-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgb(231, 227, 235);
}
.add-card-header p {
  font-size: 12px;
  color: grey;
}
.add-card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16px;
  font-weight: 600;
}

.add-card-tag {
  display: flex;
  width: 16px;
  height: 32px;
  background: #37E4E5;
  border-radius: 4px;
}

.add-card-container button {
  padding: 0;
  border: none;
  font-family: Poppins-strong;
  font-size: 14px;
  font-weight: 700;
  background: #00E8E7;
  border-radius: 16px;
}

#add-card button:hover {
  filter: brightness(80%);
}

.add-card-connect-btn {
  display: inline-block;
  margin:0 auto;
  display:block;
  padding: 0;
  border: none;
  background: none;
  width: 80%;
  height: 40px;
}

.add-card-add-btn {
  font-family: Poppins-strong;
  display: inline-block;
  margin:0 auto;
  display:block;
  padding: 0;
  border: none;
  background: none;
  width: 80%;
  height: 40px;
}

.add-card-approve-btn {
  display: inline-block;
  margin:0 auto;
  display:block;
  padding: 0;
  border: none;
  background: none;
  width: 80%;
  height: 40px;
}

#liquidity-card {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  font-family: Poppins;
  width: 30%;
  min-width: 328px;
  max-width: 450px;
  height: 400px;
  height: 300px;
  z-index: 0;
  background: #FCFCFC;

  /* shadow */
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
}


#liquidity-card button:hover {
  filter: brightness(80%);
}

#liquidity-card img {
  display: inline-block;
}

.liquidity-card-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 2%;
}

.liquidity-card-container button {
  padding: 0;
  border: none;
  font-family: Poppins-strong;
  font-size: 14px;
  font-weight: 700;
  background: #00E8E7;
  border-radius: 16px;
}

.liquidity-card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
  margin-top: 1%;
}

.liquidity-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgb(231, 227, 235);
}

.liquidity-card-header p {
  font-size: 12px;
  color:  grey;
  margin-top: 2%;
}

.farm-liquidity-connect-btn {
  display: inline-block;
  margin:0 auto;
  display:block;
  padding: 0;
  border: none;
  background: none;
  width: 80%;
  height: 40px;
}


.liquidity-card-button {
  display: inline-block;
  border: none;
  background: none;
}

.liquidity-card-button:hover {
  filter: brightness(80%);
}

.farm-card-container {
  display: flex;
}

.farm-card-approve-btn {
  margin:0 auto;
  display:block;
  padding: 0;
  border: none;
  background: none;
  width: 80%;
  height: 40px;
  margin-top: 10px;
}

.farm-card-deposit-btn {
  margin:0 auto;
  display:block;
  padding: 0;
  border: none;
  background: none;
  width: 40%;
  height: 40px;
  margin-top: 10px;
}

.farm-card-withdraw-btn {
  margin:0 auto;
  display:block;
  padding: 0;
  border: none;
  background: none;
  width: 40%;
  height: 40px;
  margin-top: 10px;
}

.farm-card-details {
  width: 100%;
  display: inline-block;
  font-family: Poppins;
  font-size: 18px;
  color: #00E8E7;
}

.farm-card-details-btn {
  margin:0 auto;
  display:block;
  background-color: white;
  background: none !important;
}

.farm-card-connect {
  width: 100%;
  display: inline-block;
}

.farm-card-connect-btn {
  margin:0 auto;
  display:block;
  padding: 0;
  border: none;
  background: none;
  width: 80%;
  height: 40px;
}

.farm-card {
  display: block;
  max-width: 350px;
  margin: 2%;
  background: #FCFCFC;
  /* shadow_2 */
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.36), 0px 2px 6px rgba(0, 0, 0, 0.24), 0px 0px 1px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
}

.farm-card button {
  padding: 0;
  border: none;
  font-family: Poppins-strong;
  font-size: 14px;
  font-weight: bold;
  background: #00E8E7;
  border-radius: 16px;
}

.farm-card button:hover {
  filter: brightness(80%);
}

.farm-card-harvest-btn {
  width: 100px;
  height: 40px;
  float: right;
  background: #00E8E7;
  border-radius: 8px;
}

.farm-card-earned {
  width: 100%;
  margin: 5%;
  display: inline-block;
}

.farm-card-earned-amount {
  width: 80%;
  display: inline-block;
}

.farm-card-earned-amount h3 {
  display: inline-block;
  width: 10%;
}

.farm-card-earned-display {
}
.farm-card-staked {
}

.farm-card-header {
  display: flex;
  margin: 5%;
  font-size: 30px;
  font-family: Poppins;
  font-weight: bold;
  width: 100%;
  height: 100px;
}

.farm-card-stats {
  margin: 5%;
  font-family: Poppins;
  font-size: 16px;
  color: gray;
  width: 80%;
}

.multiplier {
  display:inline-block;
  background: #37E4E5;
  border-radius: 30px;
  width: 60px;
  font-family: Poppins;
  color: white;
  font-size: 16px;
  text-align: center;
}

#farm-card-symbol {
  width: 20%;
}

#farm-card-display {
  display:inline-block;
}

#farm-coin-A {
  position: absolute;
  left: 20px;
  top: 30px;
  width: 35px;
  z-index: 1;
  margin: 5%;
}

#farm-coin-B {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 50px;
  z-index: 0;
  margin: 5%;
}

.farm-card-block {
  float: right;
  width: 70%;
}

.farm-card-title {
  display:inline-block;
}

.farm-header {
  position: relative;
  height: 200px;
  width: 100%;
  background-color:  black;
}

.farm-header-title {
  position: absolute;
  top: 20%;
  left: 5%;
  color: #00E8E7;
  font-size: 32px;
  font-family: Hurme;
}

.farm-header-subtitle {
  position: absolute;
  top: 40%;
  left: 5%;
  color: white;
  font-size: 18px;
  font-family: Poppins;
}

.token-select {
  float: left;
}

.swap-exchange {
  display: flex;
  margin:  auto;
}

.swap-card-token-btn {
  margin: auto;
  float: left;
  width: 30%;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #00E8E7;
}

.swap-card-balance {
  text-align:right;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #00E8E7;
  color: black;
  width: auto;
  max-width: 70%;
  height: 30px;
}
    
.swap-card-balance:focus {
  outline: none;
  border: 1px solid #a0d18c;
  color: #2d9fd9;
}

.token-element img{
  width: 35px;
  margin: 5px;
}


/* The Modal (background) */
.modal {
  font-family: Poppins;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #EFEFEF;
  border-radius: 12px;
}

.closeModal span:hover {
  filter: brightness(80%);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.connect-wallet-btn {
  font-size: 12px;
  box-sizing: border-box;
  background-color: #00E8E7;

  width: 157px;
  height: 40px;

  border: 2px solid #0B0D20;
  border-radius: 90px;
}

.connect-wallet-btn:hover {
  filter: brightness(80%);
}

#swap-card {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  font-family: Poppins;
  width: 30%;
  min-width: 328px;
  max-width: 450px;
  height: auto;
  z-index: 0;
  background: #FCFCFC;

  /* shadow */
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
}

#body-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 3;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.overlay-spinner {
  position: fixed;
  left: 49%;
  top: 40%;
  --sk-color: white;
  --sk-size: 60px;
}

#swap-card p {
  color: #6F767E;
  font-family: Poppins;
  font-size: 14px;
}


.swap-tokens-btn {
  box-shadow: rgb(0 0 0 / 10%) 0px -2px 0px inset;
  position: absolute;
  left: 50%;
  padding: 0;
  border: none;
  background: none;
}

.swap-tokens-btn img {
  color: blue !important;
  width: 33px;
  border-radius: 16px;
}

.swap-tokens-btn img:hover {
  background: #00E8E7;
}

.swap-card-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 2%;
}

.swap-confirm-container {
  font-size: 12px !important;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin: 2%;
}

#approve-swap {
  margin: auto;
  width: 38%;
}

#confirm-swap {
  margin: auto;
  width: 38%;
}

.swap-max-reward-usd {
  width: 45px;
  height: 24px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  /* identical to box height, or 171% */
  text-align: right;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #00E8E7;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.swap-divider {
  width: 403px;
  height: 1px;

  background: #EFEFEF;

  /* Inside auto layout */
  flex: none;
  order: 6;
  flex-grow: 0;
}

.swap-confirm-btn {
  padding: 0;
  border: none;
  font-family: Poppins-strong;
  font-size: 14px;
  font-weight: 700;
  background: #00E8E7;
  border-radius: 16px;
  display: inline-block;
  margin:0 auto;
  display:block;
  width: 80%;
  height: 40px;
}

.swap-confirm-btn:hover {
  filter: brightness(80%) !important;
}

.swap-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgb(231, 227, 235);
}

.swap-card-header p {
  margin-top: 2%;
}

.swap-card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 600;
  margin-top: 1%;
}

.swap-card-tag {
  display: flex;
  width: 16px;
  height: 32px;
  background: #37E4E5;
  border-radius: 4px;
}


.swap-card-button {
  display: inline-flex;
  padding: 0;
  border: none;
  background: none;
}

.swap-card-button:hover {
  filter: brightness(80%);
}

.nav img:hover {
  transform: scale(1.1) !important;
}

@font-face {
  font-family: TTOctosquares-Black;
  src: url("font/TTOctosquares-Black.otf") format("opentype");
}


@font-face {
  font-family: Hurme;
  src:  url("font/HurmeGeometricSans1 BoldOblique.otf") format("opentype");
}

@font-face {
  font-family: Poppins;
  src:  url("font/Poppins-Regular.ttf") format("opentype");
}

@font-face {
  font-family: Poppins-strong;
  src:  url("font/Poppins-ExtraBold.ttf") format("opentype");
}


#intro {
  text-align: center;
}

#intro img {
  width: 100%;
}

#intro > h1 {
  font-family: TTOctosquares-Black, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 6em;
}

#intro > h2 {
  font-family: TTOctosquares-Black, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2em;
}

#thirdblock img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

#fourthblock img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.navbar {
  margin-bottom: 0px !important;
}
.navbar-header {
  font-family: Hurme;
  height: 110px !important;
  background-color: #37E4E5;
}

.navbar-default {
  background-color: #37E4E5 !important;
  border-color: #E7E7E7;
}

.nav.navbar-nav.navbar-nav li a {
    color: black;
}
.nav.navbar-nav.navbar-nav li a:hover {
    color: grey;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}

.navbar-brand {
  max-width: 150px !important;
}

/*.navbar-collapse-vertical-aligned {
  position: absolute;
  left: 150px;
  top: calc(25% - 1px) !important;
}*/

/*.navbar-nav-vertical-aligned {
  position: absolute;
  right: 20px;
  top: 23px;
}*/

#firstblock {
  font-family: Hurme;
  margin-top: 10%;
  text-align: center;
}

#firstblock p {
  margin: 5%;
  color:  grey;
}

.stats-rows {
  width: 80%;
}
.subcontainer {
  position: absolute;
}

.rectangles {
  position: absolute;
  z-index: 1;
  right: 20%;
}

.roadmap-firstrow {
  top: 8%;
}

.roadmap-secondrow {
  top: 44%;
}

.roadmap-thirdrow {
  top: 90%;
}

.roadmap-text-august {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 23%;
  left: 15% !important;
}

.roadmap-text-september {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 23%;
  left: 35% !important;
}

.roadmap-text-october {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 23%;
  left: 60% !important;
}

.roadmap-text-2023 {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 62%;
  left: 19% !important;
}

.roadmap-text-december {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 62%;
  left: 40% !important;
}

.roadmap-text-november {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 62%;
  left: 65% !important;
}

.roadmap-text-2024 {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 102%;
  left: 15% !important;
}

.roadmap-text-2025 {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 102%;
  left: 39% !important;
}

.roadmap-text-2026 {
  font-family: Poppins;
  font-size: 12px !important;
  color:  gray;
  width: 230px;
  top: 102%;
  left: 60% !important;
}

.august {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 16%;
}

.september {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 40%;
}

.october {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 65%;
}

.y2023 {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 30%;
  color: #00E8E7;
}

.december {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 50%;
  color: #00E8E7;
}

.november {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 70%;
  color: #00E8E7;
}

.y2024 {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 25%;
  color: #00E8E7;
}

.y2025 {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 45%;
  color: #00E8E7;
}

.y2026 {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 70%;
  color: #00E8E7;
}

#thirdblock {
  font-family: Hurme;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}

.square {
  width: 70%;
  background-color: #00E8E7;
  position: relative;
  left: 15%;
  border-radius: 25px;
}

.sideshoe {
  margin-top: 10%;
  margin-bottom: 10%;
}

.email-input-container {
  margin-bottom: 10%;
}

#fourthblock {
  font-family: Hurme;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}


#fifthblock {
  font-family: Hurme;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}

#maxTrade:hover {
  text-decoration: underline;
  cursor: pointer;
}